.table th {
  text-align: center;
}

.search {
  margin-top: 20px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0;
}

.space {
  margin: 20px 0;
}

.card {
  margin: 10px 0;
}

.today-weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.today-weather img {
  width: 50px;
}

.today-weather .wind, .today-weather .temperature {
  display: flex;
  flex-direction: column;
}
