<form class="input-group search" ng-submit="onFormSubmit()">
  <input
    class="form-control"
    placeholder="Cerca una città ..."
    ng-model="term"
  />
  <span class="input-group-btn">
      <button type="submit" class="btn btn-secondary">Cerca</button>
  </span>
</form>

<ul class="list-group">
  <li
    class="list-group-item"
    ng-repeat="city in cities"
    ng-click="onCitySelect(city | stringToArray:',' | first)"
  >{{ city | stringToArray:',' | first }}</li>
</ul>

<div class="container space">
  <div class="row" ng-if="showGraph">

    <!-- left column -->
    <div class="col-sm-8">

      <!-- main data -->
      <h1 class="title">{{ city }}</h1>

      <ul class="list-group list-group-flush">
        <li class="list-group-item today-weather" ng-repeat="today in todayWeathers">
          <div class="hours">{{ today.dt | stringToDate:'HH:ss' }}</div>
          <img class="card-img-top" ng-src="http://openweathermap.org/img/w/{{ today.weather[0].icon }}.png" alt="{{ today.weather[0].main }}">
          <div class="description">{{ today.weather[0].description | capitalize }}</div>
          <div class="temperature">
            <span>Min. {{ today.main.temp_min }}°</span>
            <span>Max. {{ today.main.temp_max }}°</span>
          </div>
          <div class="wind">
            <span>Vento {{ today.wind.speed }} m/s</span>
            <span><i class="fas fa-location-arrow"></i> {{ today.wind.deg }}°</span>
          </div>
        </li>
      </ul>

    </div>
    <!-- ./left column -->

    <!-- rigth column -->
    <div class="col-sm-4">

      <!-- temperature -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Temperatura (C°)</h5>
          <temperature data="weathers"></temperature>
        </div>
      </div>

      <!-- humidity -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Umidità (%)</h5>
          <humidity data="weathers"></humidity>
        </div>
      </div>

      <!-- pressure -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pressione (hPa)</h5>
          <pressure data="weathers"></pressure>
        </div>
      </div>

    </div>
    <!-- ./rigth column -->

  </div>
</div>
